@import "tailwindcss";
@import "tw-animate-css";
@import "yet-another-react-lightbox/styles.css";

@import "@fontsource/roboto/300";
@import "@fontsource/roboto/400";
@import "@fontsource/roboto/500";
@import "@fontsource/roboto/700";

@import "@fontsource/roboto-mono/400";
@import "@fontsource/roboto-mono/500";
@import "@fontsource/roboto-mono/700";

@import "./ui.css";
@import "./syntax-highlight.css";
@import "./katex.css";

:root {
  --link: oklch(0.77 0.16 70);
}

@theme inline {
  --color-link: var(--link);

  --font-sans: "Roboto";
  --font-mono: "Roboto Mono";

  --animate-linear-loader: linear-loader 2s linear infinite;

  @keyframes linear-loader {
    0% {
      background-size: 200% 100%;
      background-position: left -31.25% top 0%;
    }

    50% {
      background-size: 800% 100%;
      background-position: left -49% top 0%;
    }

    100% {
      background-size: 400% 100%;
      background-position: left -102% top 0%;
    }
  }
}
